.tabs-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .tabs {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    flex-direction: row;
  }
  
  .tab {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
    text-decoration: none;
    font-size: 12px;
  }
  
  .tab-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .tab:hover {
    color: #09d1a0;
  }
  